<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
<display-name>JSP_Example23</display-name>
<welcome-file-list>
<welcome-file>index.html</welcome-file>
<welcome-file>index.htm</welcome-file>
<welcome-file>index.jsp</welcome-file>
<welcome-file>default.html</welcome-file>
<welcome-file>default.htm</welcome-file>
<welcome-file>default.jsp</welcome-file>
</welcome-file-list>


<!-- Define servlets that are included in the example application -->

<servlet>

<servlet-name>UserFormServlet</servlet-name>

<servlet-class>servlet.form.UserFormServlet</servlet-class>

</servlet>

<servlet-mapping>

<servlet-name>UserFormServlet</servlet-name>

<url-pattern>/index.html</url-pattern>

</servlet-mapping>


<servlet>

<servlet-name>SummaryServlet</servlet-name>

<servlet-class>servlet.summary.SummaryServlet</servlet-class>

</servlet>

<servlet-mapping>

<servlet-name>SummaryServlet</servlet-name>

<url-pattern>/summary.html</url-pattern>

</servlet-mapping>


<servlet>

<servlet-name>FeedbackServlet</servlet-name>

<servlet-class>servlet.feedback.FeedbackServlet</servlet-class>

</servlet>

<servlet-mapping>

<servlet-name>FeedbackServlet</servlet-name>

<url-pattern>/feedback.html</url-pattern>

</servlet-mapping>

</web-app>